.suggestBox{
    border: 1px solid;
    margin: 10% auto;
    padding: 1%;
    width: 50%;
}

.title{
    font-size: 200%;
}

.hobbyGet{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-top: 3%;
}

.hobbyGet>select{
    width: 70%;
    height: 40px;
    margin: 30px auto;
    font-size: 150%;
}

.hobbyGet>.submit{
    width: 300px;
    height: 100px;
    margin: 0 auto;
    font-size: 150%;
}